[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pybullet = "*"
onshape-to-robot = "*"
websockets = "*"
gym = "*"
pandas = "*"
numpy = "*"
cement = "*"

[dev-packages]

[requires]
python_version = "3.8"
