[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pybullet = "*"
onshape-to-robot = "*"
websockets = "*"
gym = "*"
pandas = "*"
numpy = "*"
cement = "==3.0.4"
jinja2 = "*"
pyyaml = "*"
colorlog = "*"
pytest-mock = "*"
matplotlib = "*"
bokeh = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
coverage = "*"
twine = "*"
setuptools = "*"
wheel = "*"

[requires]
python_version = "3.8"
